<%= @atm.latitude %>
<%= @atm.longitude %></br>

<%= @lat_results %>

<% @test["results"][0..9].each do |n| %>
	<%= n["name"] %>
	<%= n["vicinity"] %> </br>
<!-- 	<%= n["geometry"]["location"]["lat"] %>
	<%= n["geometry"]["location"]["lng"] %> -->
<%end%></br>
</br>





  <div id="map" style='width: 500px; height: 400px;'></div>


<script>
  function initMap() {
    var mapDiv = document.getElementById('map');
    var map = new google.maps.Map(mapDiv, {
      center: {lat: <%=@atm.latitude%>, lng: <%=@atm.longitude%>},
      zoom: 14
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][0]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][0]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][1]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][1]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][2]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][2]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][3]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][3]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][4]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][4]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][5]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][5]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][6]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][6]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][7]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][7]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][8]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][8]["geometry"]["location"]["lng"] %>},
    map: map,
    });
    var marker = new google.maps.Marker({
    position: {lat: <%= @test["results"][9]["geometry"]["location"]["lat"] %>, lng: <%= @test["results"][9]["geometry"]["location"]["lng"] %>},
    map: map,
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key=AIzaSyCPwM-ZPcwMIyqNqVPdfi-y8LoBerEl3WU"
         async defer>
</script>
